<div class="products">
    <span> <img [src]="storeLogo" />
        <!-- Day2.q6  => storeName pipe -->
        {{storeName | uppercase}}
    </span>

    <!-- Day2.q1 => hide h3 -->

    <!-- "We offer an explicit discount of: " +  -->
    <h3 *ngIf="Discount != 'No Discount'"> We offer an explicit discount of: {{ Discount / 100 | percent}} </h3>

    <!-- Day2.q2 => Make a Dropdownlist for categories -->
    <select>
        <option *ngFor="let category of CategoryList"> {{category.Name}} </option>
    </select>

    <!-- Day2.q3 => Make a table for productList -->
    <ng-template #productTable>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Img</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of ProductList">
                    <td> {{product.ID}}</td>
                    <td> {{product.Name}}</td>
                    <td> {{product.Price}}</td>
                    <td> {{product.Quantity}}</td>
                    <td> <img class="td-img" src={{product.Img}} /></td>
                </tr>
            </tbody>
        </table>
    </ng-template>

</div>

<!-- Day2.q4 two-way binding for ClientName-->
<label>
    Name:
    <input type="text" [(ngModel)]="ClientName" placeholder="Enter your name">
</label>
<h3> {{ClientName}} </h3>

<!-- Day2.q5 Event binding for IsPurshased-->

<button (click)="buyProduct()" class="btn btn-warning">
    Buy now
</button>
<div *ngIf="IsPurchased; else productTable;">
    {{"Thanks for purchasing from our Store, " + ClientName}}
</div>


<button class="btn btn-success" (click)="discountProd()"> Products with Discount </button>
<button class="btn btn-warning" (click)="noDiscountProd()"> Products without Discount </button>

<router-outlet></router-outlet>