<div class="products">
    <h1> {{storeName}} </h1>
    <img [src]="storeLogo" />
    <input type=" text" #txtName [(ngModel)]="ProductList[0].Name">
    <h3> {{ProductList[0].Name}} </h3>
    <button (click)="logData(txtName.value)">Click </button>

    <div *ngIf="Discount ; then displayOffer; "> </div>
    <ng-template #displayOffer>
        <!-- <h3 *ngIf=" Discount"> {{"We offer an explicit discount of: " + Discount}} </h3> -->
        <h3> {{"We offer an explicit discount of: " + Discount}} </h3>
    </ng-template>

</div>