<div class="products">
    <h1> {{storeName}} </h1>
    <img [src]="storeLogo" />
    <input type=" text" #txtName [(ngModel)]="ProductList[0].Name">
    <!-- <h3> {{ProductList[0].Name}} </h3> -->
    <button (click)="logData(txtName.value)">Click </button>

    <!-- Day2.q1 => hide h3 -->
    <h3 *ngIf="Discount != 'No Discount'"> {{"We offer an explicit discount of: " + Discount}} </h3>

    <!-- Day2.q2 => Make a Dropdownlist for categories -->
    <select>
        <option *ngFor="let category of CategoryList"> {{category.Name}} </option>
    </select>
</div>